@import "tailwindcss";
@import "@nuxt/ui";


.dimmed-text {
  color: var(--ui-text-dimmed);
}
.muted-text {
  color: var(--ui-text-muted);
}

.low-opacity {
    opacity: 0.5;
}

/*
  Override scalar colors with nuxt ui colors

  Unfortunately this is required globally because Nuxt will preload the api page when a link to it is rendered,
  this will cause Scalar to load in the css for some reason.
*/
* {
  --scalar-background-1: var(--ui-bg);
  --scalar-background-2: var(--ui-bg-elevated);
  --scalar-background-3: var(--ui-bg-muted);
  --scalar-color-1: var(--ui-text);
  --scalar-color-2: var(--ui-text-toned);
  --scalar-color-3: var(--ui-text-muted);
  --scalar-color-accent: var(--ui-primary);
  --scalar-background-accent: var(--ui-bg-accented);
  --scalar-border-color: var(--ui-border);

  --scalar-header-height: calc(var(--spacing)*16);
}