name: Build and Release

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    runs-on: [self-hosted, linux, x64]
    steps:
      - name: Get latest code
        uses: actions/checkout@v4
      
      - name: Build Docker image
        run: |
          docker build -t custos:main .

      - name: Save Docker image to a tar file
        run: |
          docker save custos:main -o custos-main.tar

  release:
    runs-on: [self-hosted, linux, x64]
    needs: build
    steps:
      - name: Get latest code
        uses: actions/checkout@v4

      - name: Bump version and push tag
        id: tag
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          PRERELEASE: true
        
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag.outputs.new_tag }}
          files: |
            custos-main.tar
