name: PR Checks
on:
  workflow_dispatch:
  pull_request: 
    branches: [main]
    paths-ignore:
      - 'README.md'
      - '.gitignore'

jobs:
  frontend:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Get latest code
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Use Node.js LTS
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: "pnpm"
          cache-dependency-path: frontend/pnpm-lock.yaml
      
      - name: Install dependencies
        run: |
          pnpm i
        
      - name: Lint Code
        run: pnpm lint

      - name: Run Typecheck
        run: pnpm typecheck

      # possibly execute test later on

  backend-linting:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Get latest code
        uses: actions/checkout@v5

      - name: Linting Backend code
        uses: astral-sh/ruff-action@v3
        with:
          args: check --select B
          src: "./backend"
          
  backend-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Get latest code
        uses: actions/checkout@v5
      
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Setup venv
        run: uv venv

      - name: Install dependencies
        run: uv pip install -r pyproject.toml --extra dev

      - name: Run tests
        run: |
          uv run coverage run -m pytest
          echo '### Coverage Summary' >> $GITHUB_STEP_SUMMARY
          uv run coverage report --format=markdown >> $GITHUB_STEP_SUMMARY
